{% extends 'base.html' %}

{% block head %}
    <script src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script>
{% endblock %}

{% block content %}
    <div class="container">
    <div class="row mt-3">
        <div class="col">
            <h2>Overview</h2>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Location</th>
                    {% for day in daily_data[0]['days'] %}
                        <th scope="col">
                            {{ ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'][day.weekday()] }}<br>{{ day.day }}.{{ day.month }}.
                        </th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for daily_d in daily_data %}
                    <tr>
                        <td><b>{{ daily_d['name'] }}</b></td>
                        {% for s in daily_d['status'] %}
                            <td>
                                {% if s == 0 %}
                                    <i class="fas fa-times-circle fa-2x text-secondary"></i>
                                {% elif s == 1 %}
                                    <i class="fas fa-question-circle fa-2x text-info"></i>
                                {% else %}
                                    <i class="fas fa-check-circle fa-2x text-success"></i>
                                {% endif %}
                            </td>

                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% for title in location_names %}
        <div class="row mt-5">
            <div class="col">
                <h4>{{ title }}</h4>
                <div id="graph-{{ loop.index0 }}" class="responsive-plot"></div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
</div>


{% block footer %}
    <script type="text/javascript">
        var graphs = {{graphs | safe}};

        for (var i in graphs) {
            Plotly.newPlot("graph-" + i, // the ID of the div, created above
                graphs[i].data,
                graphs[i].layout || {},
                config = {displayModeBar: false});
        }
    </script>
{% endblock %}